@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}


        	

body{

    width: 100%;
    height: 100vh;
    
   
} 

main{

    background-color:#3168a8;
    width:100%;
    padding:40px;
    padding-bottom:120px;
}

main>nav{

    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:flex-end;
    margin-right:5vmax;
    gap:50px;
    flex-wrap:wrap;
}

main>nav>a{

    font-family:sans-serif;
    font-size:calc(60% + 1.5vmin);
    color: aliceblue;
    text-decoration:none;
}

.one{

    font-family:sans-serif;
    font-size:calc(60% + 1.5vmin);
    color:#89a9cd;
    text-decoration:none;
}



.one:hover{

    color: aliceblue;
}



.corpo{

    display:flex;
    align-items:flex-start;
    flex-direction:row;
    justify-content:space-around;
    margin-top:150px;
    gap:50px;
    flex-wrap:wrap;
}


.corpo>img{

    width:100%;
    max-width:500px;
}

.corpo>article{

    display:flex;
    flex-direction:column;
    gap:5px;
}

.corpo>article>h1{

    font-family:sans-serif;
    font-size:calc(60% + 6.5vmin);
    color:rgb(255, 255, 255);
}

.corpo>article>p{

    font-family:sans-serif;
    font-weight:100;
    font-size:calc(60% + 2vmin);
    color:#bdcfe3;
    line-height:30px;
    letter-spacing:1px;
}



section{

    background-color:#ffffff;
    width:100%;
    padding:40px;
    padding-bottom:150px;
    
}

.cardf{

    display:flex;
    align-items:flex-start;
    flex-direction:row;
    justify-content:space-around;
    flex-wrap:wrap;
    gap:50px;
    padding-top:80px;
}


.cardf>div{

    display:flex;
    flex-direction:column;
    gap:5px;
    
}

.cardf>div>h1{

    font-family: 'Roboto', sans-serif;
    font-weight:700;
    font-size:calc(60% + 4.2vmin);
    color:#1d2d35;
    padding-bottom:10px;
}

.cardf>div>p{


    font-family: 'Open Sans', sans-serif;
    font-weight:300;
    font-size:calc(60% + 2.2vmin);
    color:#1d2d35;
    
    
   
}

.cardf>div>button{

    background-color:#3168a8;
    width:100%;
    max-width:300px;
    margin-top:30px;
    border:none;
    padding:15px;
    border-radius:5px;
}



.cardf>div>button>p{

    font-family: 'Poppins', sans-serif;
    font-weight:700;
    font-size:calc(60% + 2vmin);
    color:#ffffff;
    letter-spacing:1px;
    
}

.imgl{

    width:100%;
    max-width:550px;
}

hr{

    color:rgba(0, 0, 0, 0.173);
    width:100%;
    max-width:1200px;
    margin:auto;
}

footer{

    margin-top:100px;
    margin-bottom:100px;
}

footer>p{

    font-family:sans-serif;
    text-align:center;
    
}

@media screen and (max-width: 800px) {
   
    .corpo>img{

        display:none;
    }

    .imgl{

        display:none;

    }

    .corpo>article>h1{

        font-size:calc(60% + 8vmin);
        padding-bottom:10px;
    }

    .corpo>article>p{

        font-size:calc(60% + 2.9vmin);
    }



    .om{

        display:none;
    }


    .cardf>div>h1{

      font-size:calc(60% + 7vmin);
       padding-bottom:0px;
    }

    .cardf>div>button{

        margin-top:10px;
    }


    section{

        margin-top:50px;
    }

    .cardf>div>p{

        font-size:calc(60% + 4.3vmin);

    }

    main{

        height:90%;
        padding-bottom:300px;
    }

    
    footer>p{

    
    padding-bottom:100px;

    }

  }





